.ts-messages-header {
    display: none !important;
}

.extension-tab-container {
    margin-top: 0px !important;
}

.navbar {
    display: none !important;
}

.col-sm-8-spacing {
    padding-left: 70px !important;
}

.container {
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    max-width: 1240px
}

@media (min-width:576px) {
    .jumbotron {
        padding: 3rem 1rem
    }
}

#imgUserProfile {
    position: relative;
    left: 5%;
    height: 96%;
    top: 2%;
    border-radius: 50%;
}

#ddlgroup ~ .ms-options-wrap button {
    width: 45%;
    position: absolute;
    /* top: 43%; */
    margin-top: -34px;
    left: 24%;
}

#ddlgroup ~ .ms-options-wrap .ms-options {
    position: absolute !important;
    /* top: 43%; */
    margin-top: -3px !important;
    left: 24% !important;
    min-height: 83px !important;
    width: 45%;
}

#userInfo-fieldset {
    position: relative;
    top: 5%;
    left: 8%;
}

.teamDetails {
    position: absolute;
    top: 8%;
    color: white;
}

#uContacts {
    font-size: smaller;
}

.radio-button-container {
    border: 1px solid #c7c4ca;
    padding-left: 16px;
}


fieldset.p-3 {
    padding: 0.5rem !important;
    border-radius: 0.5rem !important;
    text-align: center;
    border: #b6babd;
}

fieldset.border {
    border: 1px solid #b1b7bd !important;
}

legend.w-auto {
    font-size: 1.2rem !important;
    margin-bottom: 0rem !important;
    text-align: left;
    font-weight: 500;
}

#fieldset-TeamDetails {
    border: 1px solid #b1b7bd;
    border-radius: 0.3rem;
    padding-top: 3px;
    padding-left: 13px;
}

    #fieldset-TeamDetails p {
        margin-bottom: 0rem !important;
    }

.btn {
    background-color: #73499c;
    border-color: #73499c;
    color: white;
    text-align: center;
    width: 125px;
}

    .btn:hover {
        background-color: #a19ba7;
        border-color: #73499c;
    }


ul.tabs {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

    ul.tabs li {
        background: none;
        color: #222;
        display: inline-block;
        padding: 10px 15px;
        cursor: pointer;
    }

        ul.tabs li.current {
            background: #ffffff;
            color: #222;
        }

.tab-content {
    display: none;
    background: white;
    padding: 8px;
}

#col-4 {
    background-color: #f3f3f3;
    border-radius: 0.5rem;
    margin: 1rem;
    margin-left: 2rem;
    border: 1px solid #c5bcbc;
}

#col-7 {
    background-color: #f3f3f3;
    border-radius: 0.5rem;
    margin: 1rem;
    border: 1px solid #c5bcbc;
}

/*#no-data {
    font-size: larger;
    font-weight: 500;
    top: 1%;
    position: relative;
    left: 1%;
    padding: 0.5rem !important;
}*/

#tab-1-inner {
    font-size: larger;
    font-weight: 500;
    top: 1%;
    position: relative;
    left: 1%;
    padding: 0.5rem !important;
}

#divTeamTabDetails {
    padding: 0.5rem !important;
    border-radius: 0.5rem !important;
}

.tab-content.current {
    display: inherit;
}

.fieldset-button {
    border: 1px solid #b1b7bd;
    border-radius: 0.3rem;
    padding: 5px
}

#tab-2 {
    padding-top: 8px;
    padding-left: 13px;
}

[tooltip]:after {
    /* needed - do not touch */
    content: attr(tooltip);
    position: absolute;
    opacity: 0;
    /* customizable */
    transition: all 0.15s ease;
    padding: 10px;
    color: #333;
    border-radius: 10px;
    box-shadow: 2px 2px 1px silver;
}

[tooltip]:hover:after {
    /* needed - do not touch */
    opacity: 1;
    /* customizable */
    background: black;
    margin-top: -10px;
    margin-left: 20px;
    color: white
}

[tooltip]:not([tooltip-persistent]):after {
    pointer-events: none;
}
